---
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>About EmojiCon</span>
				</h2>
				<p class="text-xl text-gray-600 dark:text-slate-400">
					Information about the conference and the steps to apply for CFP.
				</p>

			</div>
		</div>
	</div>
</section>
