---
import { Icon } from 'astro-icon';
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>Sign up for updates!</span>
				</h2>
				<p class="text-xl text-gray-600 dark:text-slate-400">
					We're looking forward to seeing you all at EmojiCon 🪄💻✨!<br class="hidden md:inline" />
				</p>

				<div class="mt-6">
					<a
						class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
						href="https://forms.gle/4TvWUGWcMddLArnA7"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:send" class="w-5 h-5 mr-1 -ml-1.5" /> Subscribe
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
