---
import Picture from '~/components/core/Picture.astro';
---

<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20">
            <div class="text-center pb-10 md:pb-16">
                <h1 id="hero-title" class="text-5xl md:text-[2.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
                    Welcome to
                    <span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">EmojiCon</span>🪄💻✨
                </h1>
                <div class="max-w-3xl mx-auto">
                    <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
                        EmojiCon is a DevOps conference where your slides are all in emojis.
                    </p>
                </div>
            </div>
            <div>
                <div class="relative mb-8 m-auto max-w-3xl">
                    <Picture
                        src={import('~/assets/images/heroimage.png')}
                        class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
                        widths={[800]}
                        aspectRatio="800:580"
                        alt="Hero Image"
                    />
                </div>
            </div>
        </div>
    </div>
    <script type="module">
        document.addEventListener('DOMContentLoaded', (event) => {
          // Simulated URL parameter Vulnerability.
          const userContent = new URLSearchParams(window.location.search).get('userContent');
          const heroTitle = document.querySelector('#hero-title');
          if (heroTitle) {
            // Vulnerable content injection
            // Directly injecting user-controlled content into the DOM without sanitization
            heroTitle.innerHTML = userContent || 'Welcome to EmojiCon 🪄💻✨';
          }
        });
      </script>
</section>
