---
import Picture from '~/components/core/Picture.astro';

const items = [
	{
		title: 'Justin Garrison',
        subtitle: 'Chief Financial Officer',
        twitter: 'https://twitter.com/rothgar',
		description:
			'Justin charts our vision and manages all financial and emoji shenanigans.',
		image: import('~/assets/images/justin.png'),
	},
	{
		title: 'Fatima Sarah Khalid',
        subtitle: 'Chief Emoji Officer',
        twitter: 'https://twitter.com/sugaroverflow',
		description:
			'Fatima oversees the steering commitee and EmojiCon CFP process.',
		image: import('~/assets/images/fatima.jpeg'),
	},
	{
		title: 'Gareth J. Greenaway',
        subtitle: 'VP of Operations',
        twitter: 'https://twitter.com/garethgreenaway',
		description:
			'Gareth is a mysterious VPs who does many things and knows all our secrets so he can never be ousted.',
		image: import('~/assets/images/gareth.jpeg'),
	},
];
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Meet the Team</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					EmojiCtl ™️
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					EmojiCtl is a company changing the way we teach technology. The official pronounciation "is emoji cuddle".
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, subtitle, twitter, description, image }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
                               <Picture src={image} widths={[150]} />
                               <div class="ml-4 text-xl font-bold">
                                <a href={twitter} 
                                aria-label="EmojiCon GitLab"
                                class="inline-block hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700"
                                >
                                   {title}
                                </a>
                                </div>
							</div>
                            <p class="text-m font-bold">{subtitle}</p>
							<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
