---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Team from '~/components/widgets/Team.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
// Simulated unsafe URL parameter handling
// In a real scenario, this might come from URL search params or similar
const unsafeParameter = "Welcome <script>alert('Unsafe Parameter!');</script>";
---

<Layout {meta}>
	<Hero />
	<Steps />
	<Team />
	<CallToAction />
</Layout>
